<div class="app-container">
  <nav>
    <button (click)="handleClick('userList')">User Module</button>
    <button (click)="handleClick('rulesList')">Rules Module</button>
    <button (click)="handleClick('signalsPoc')">signalsPoc Module</button>
    <button (click)="handleClick('signalsPocV2')">signalsPoc V2 Module</button>

    <button (click)="toggleLoading(true)">toggleLoading TRUE</button>
    <button (click)="toggleLoading(false)">toggleLoading FALSE</button>
    <button (click)="forceRefresh()">forceRefresh</button>

  </nav>
  <div class="app-content">
    @switch (view) {
      @case ('userList') {
        @defer () {
        <user-module></user-module>
      }
    }
    @case ('rulesList') {
      @defer () {
      <rules-module></rules-module>
    }
  }
  @case ('signalsPoc') {
    @defer () {
    <signals-poc-module></signals-poc-module>
  }
}
@case ('signalsPocV2') {
  @defer () {
  <signals-poc-v2-module></signals-poc-v2-module>
}
}
  @default {
    <p>Vista no encontrada</p>
  }
}
@if (loading) {
  <div class="loading">
    <h1>LOADING......</h1>
  </div>
}
</div>
</div>