<main class="main">
  <nav>
    <button (click)="handleClick('userList')">User Module</button>
    <button (click)="handleClick('rulesList')">Rules Module</button>
    <button (click)="toggleLoading(true)">toggleLoading TRUE</button>
    <button (click)="toggleLoading(false)">toggleLoading FALSE</button>

  </nav>
  <ng-container>
    <div class="flex-row">
      <p>Estado loading: {{loading}}</p>
    </div>

    @switch (view) {
      @case ('userList') {
        @defer () {
          <user-module></user-module>
        }
      }
      @case ('rulesList') {
          @defer () {
            <rules-module></rules-module>
          }
      }
      @default {
        <p>Vista no encontrada</p>
      }
    }
  </ng-container>
  <ng-container *ngIf="loading">
    <div class="loading">
      <h1>LOADING......</h1>
    </div>
  </ng-container>
</main>