.app-container {
    * {
        padding:0px;
        margin:0px;
        box-sizing: border-box;
    }
    --nav-height: 50px;
    nav {
        width: 100%;
        height: var(--nav-height);
        background-color: white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        position: fixed;
        top:0;
        z-index: 999;
        border-bottom: 1px solid black;
    }
    .app-content {
        margin-top: var(--nav-height);
    }
    .flex-row {
        display: flex;
        flex-flow: row nowrap;
        gap:1rem;
    }
    .loading {
        display: flex;
        flex-flow: column;
        height: calc(100vh - var(--nav-height));
        width: 100%;
        position: absolute;
        top: var(--nav-height);
        justify-content: center;
        align-items: center;
        background-color: rgb(191, 233, 195, 0.5);
        >h1{
            color: red;
        }
    }
}
