<div class="long-array">
    <h2>Manejo de Arrays muy grandes {{loading}}</h2>
    <table class="container">
        <thead>
            <tr>
                <th>Id</th>
                <th>data</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <ng-container #itemsContainer></ng-container>
        </tbody>

        <ng-template #item let-item="item">
        <tr>
            <th scope="row">{{item.userId}}</th>
            <td class="expand">
                <div class="cell">
                    <p>{{item.data}}</p>
                    <app-defer-block-2></app-defer-block-2>
                </div>
            </td>
            <td>{{item.date.toLocaleString()}}</td>
        </tr>
        </ng-template>
    </table>
    <ng-container *ngIf="loading">
        <div class="spinner">
            LOADING............
        </div>
    </ng-container>
</div>
